@charset "utf-8";
@import "~bulma/bulma.sass";

$m-blue: #0bd3d3;
$m-green: #64e8ba;
$m-purple: #ca5fa6;
$m-pink: #f36886;
$m-orange: #fa8282;
$m-yellow: #ffaf65;
$m-white: #ffffff;
$m-black: #000000;

.Logo-circle {
  width: 33px;
  height: 33px;
  border-radius: 100%;
  background: url("../images/3dinst.png") center center;
  background-size: 33px 33px;
  background-color: linear-gradient(0.25turn, $m-pink, $m-orange);
}

.site-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

// bulma / prism conflict fix
.content .tag, .content .number {
  display: inline;
  padding: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: inherit;
  vertical-align: inherit;
  border-radius: inherit;
  font-weight: inherit;
  white-space: inherit;
  background: inherit;
  margin: inherit;
}